<div class="jumbotron hero">
  <!-- <img src="images/carpentry.jpg"> -->
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col--6">
      hello
    </div>
    <div class="col-xs-6">
      goodbye
    </div>
  </div>
</div>