<div class="jumbotron hero">
  <!-- <img src="images/carpentry.jpg"> -->
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col--6">
      deploy worked!
    </div>
  </div>
</div>